footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    font-weight: bold;
}

.bg-dark {
    background-color: #343a40!important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #5cb85c;
    font-weight: bold;
}

button.btn .btn-link {
    color: #5cb85c;
}

button {
    cursor: pointer;
}

@media only screen and (max-width: 599px) {
    [class*="col-"] {
        width: 100%;
    }
    .teste{
        padding-top: 50px;
    }
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    img {
        max-height: 100%;
        max-width: 100%;
    }
    .teste{
        padding-top: 50px;
    }
    .col-sm-2 {
        flex: 1 0 16.666667%;
        max-width: 35.666667%;
    }

}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    img {
        max-height: 100%;
        max-width: 100%;
    }
}